<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
        .dropdown-menu {
            width: 400px !important;
        }
        .panel-primary{
            border-color: floralwhite;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;

        }
        #map {
            height: 100%;
        }
        #map_canvas2{
            height: 200px;
            width: 600px;
        }
    </style>
</head>
<body>

<div id="AddEvent" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add event</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" id="multipart" action="addevent"  enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputName" class="control-label">Name of event</label>
                        <input type="text" class="form-control"  name="name" placeholder="Enter name of event" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPlace" class="control-label">Place</label>
                        <input type="text" class="form-control" name="place" placeholder="Enter where your event will be" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPrice" class="control-label">Price</label>
                        <input type="text" class="form-control" name="price" placeholder="Enter price" required>
                    </div>
                    <div class="form-group">
                        <label for="Tag">Tag</label>
                        <input type="text" class="form-control" placeholder="Tags for your event" name="tag">
                        <div class="help-block">Divide them by ";" without spaces</div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputDate" class="control-label">Date of event</label>
                        <input type="date" class="form-control"  name="date" placeholder="Date" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div>
                        <label class="control-label">Select Image</label>
                        <input id="evImage" input type='file' name='evImage'>
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="SignUp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Sign up</h4>
            </div>
            <div class="modal-body">
                <form data-toggle="validator" role="form" method="post" action="signup">
                    <div class="form-group">
                        <label for="inputName" class="control-label">Name</label>
                        <input type="text" class="form-control"  name="name" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <label for="inputOrg" class="control-label">Organization name</label>
                        <input type="text" class="form-control" name="orgName" placeholder="Enter your organization`s name">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input type="email" class="form-control"  name="email" placeholder="Email" data-error="That email address is invalid" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label">Password</label>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <input type="password" class="form-control" name="password" id="inputPassword"  placeholder="Password" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary">Sign up</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<div id="map_canvas2"></div>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="SignIn" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Sign in</h4>
            </div>
            <div class="modal-body">
                <form  role="form" method="post" action="signin">
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input type="email" class="form-control"  name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label">Password</label>
                        <input type="password" class="form-control" name="password" id="inputPassword"  placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="noUser" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                No user found, please check your password and email
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-pills">
    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <% if (user) { %>
    <li><a href="#AddEvent" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Add event</a></li>
    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    <%if(user.role === 'admin') {%>
    <li><a href="/moderate?page=1"><span class="glyphicon glyphicon-edit"></span> Moderate events</a></li>
    <%}%>
    <% }else{ %>
    <li><a href="#SignUp" data-toggle="modal">Sign up</a></li>
    <li><a href="#SignIn" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        <%if(message1 == 'nouser'){%>
            <script>
                $(window).load(function(){
                    $('#noUser').modal('show');
                });
            </script>
        <%}%>
    <%}%>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-search"></span>Search<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <form role="form" name="sortedvents" method="post" id="sortf">
                <li class="form-group">
                    <label for="inputDate" class="control-label">Date from</label>
                    <input type="date" class="form-control"  name="fdatefrom" placeholder="date of events">
                </li>
                <li class="form-group">
                    <label for="inputDate" class="control-label">Date to</label>
                    <input type="date" class="form-control"  name="fdateto" placeholder="date of events">
                </li>
                <li class="form-group">
                    <label for="inputPrice" class="control-label">Low price</label>
                    <input type="number" class="form-control" name="fpricefrom" id="inputPrice"  placeholder="Enter 0 if you need free">
                </li>
                <li class="form-group">
                    <label for="inputPrice" class="control-label">High price</label>
                    <input type="number" class="form-control" name="fpriceto" id="inputPrice"  placeholder="Enter 0 if you need free">
                </li>
                <li class="form-group">
                    <label for="inputCity" class="control-label">City</label>
                    <input type="text" class="form-control" name="fcity" id="inputCity" default="City" placeholder="Write 'all', if you want to see events from all cities">
                </li>
                <li class="form-group">
                    <div id="sortedeventsbutt" type="submit" class="btn btn-primary">Get events</div>
                </li>
            </form>
        </ul>
    </li>

</ul>
<div id="map"></div>

<script>



    var markers = [];

    var map, mapreg;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
        var infoWindow = new google.maps.InfoWindow({map: map});
        function mark(event, i, data) {
            console.log(event.loc[0], event.loc[1]);
            var myLatLng = {lat: event.loc[1], lng: event.loc[0]};
            console.log(myLatLng);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: event.name
            });
            markers.push(marker);
            markers[markers.length-1].addListener('click', function() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", '/getevent?name='+marker.title, true);
                xhr.send();
                xhr.onreadystatechange = function() {
                    if (xhr.status != 200) {
                        console.log("ERROR: " + xhr.status + ': ' + xhr.statusText);
                    } else if(xhr.responseText.length > 0 && xhr.readyState === XMLHttpRequest.DONE) {
                        //console.log("SUCCESS: " + xhr.responseText);
                        var data = xhr.responseText;
                        var event = JSON.parse(data);
                        var src =
                                '<img src=data:image/jpg;base64,' +
                                event.image +
                                ' width=100 height=100 />';
                        var content = '</div>' +
                                '<div class="panel panel-primary">' +
                                '<div class="panel-heading">' +
                                event.name +
                                '</div>' +
                                '<div class="panel-body">' +
                                '<ul>' +
                                src +
                                '<li>' +
                                'Date: ' + event.date +
                                '</li>' +
                                '<li>' +
                                'Price: ' + event.price +
                                '</li>' +
                                '<li>' +
                                'Place: ' + event.place +
                                '</li>' +
                                '</ul>' +
                                '</div>' +
                                '</div> ';
                        var infowindow = new google.maps.InfoWindow({
                            content: content,
                            //maxWidth: 350
                        });
                        infowindow.open(map, marker);
                    }
                }
            });
        }


        $( "#sortedeventsbutt" ).click(function() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            var params = $('#sortf').serialize();
            console.log(params);

            console.log(params);
            var xhr;
            if(params != 'fdatefrom=&fdateto=&fpricefrom=&fpriceto=&fcity='){
                xhr = new XMLHttpRequest();
                xhr.open("GET", '/getsortedevents?' + params, true);
            }
            else{
                xhr = new XMLHttpRequest();
                xhr.open("GET", '/getallevs', true);
            }
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.status != 200) {
                    console.log("ERROR: " + xhr.status + ': ' + xhr.statusText);
                } else if(xhr.responseText.length > 0 && xhr.readyState === XMLHttpRequest.DONE) {
                    console.log("SUCCESS");
                    var data = xhr.responseText;
                    var evsArr = JSON.parse(data);
                    evsArr.forEach(mark);
                }
            }
        });


        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                map.setCenter(pos);
                console.log(pos);
                //ajax call for events nearby
                var xhr = new XMLHttpRequest();
                maxD = 5;

                xhr.open("GET", '/getnearbyevs?lat='+pos.lat+'&lng='+pos.lng + '&maxD='+maxD, true);
                xhr.send();

                xhr.onreadystatechange = function() {
                    if (xhr.status != 200) {
                        console.log("ERROR: " + xhr.status + ': ' + xhr.statusText);
                    } else if(xhr.responseText.length > 0 && xhr.readyState === XMLHttpRequest.DONE) {
                        console.log("SUCCESS");
                        var data = xhr.responseText;
                        var evsArr = JSON.parse(data);

                        evsArr.forEach(mark);
                    }
                }

            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {

            var pos = {
                lat: 50.4501,
                lng: 30.5234
            };
            map.setCenter(pos);
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');

            var xhr = new XMLHttpRequest();
            xhr.open("GET", '/getallevs', true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.status != 200) {
                    console.log("ERROR: " + xhr.status + ': ' + xhr.statusText);
                } else if(xhr.responseText.length > 0 && xhr.readyState === XMLHttpRequest.DONE) {
                    console.log("SUCCESS" );
                    var data = xhr.responseText;
                    var evsArr = JSON.parse(data);
                    evsArr.forEach(mark);
                }
            }
        }
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9TVJjbQkGQV4ujtiN-gOcL7oFaz0gT4M&&callback=initMap"
        async defer></script>
</body>
</html>