<!DOCTYPE html>
<html>
<head>
    <title>You can moderate events here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-xs">
            <h3 class="text-center">Events</h3>
            <div class="well" style="max-height: 300px;overflow: auto;">
                <form role="form" method="post" id="multipart" action="moderate"  enctype="multipart/form-data">
                    <ul id="check-list-box" class="list-group checked-list-box">
                        <%for(var i = 0; i < events.length; i++){%>
                            <li class="list-group-item"><%=events[i].name%></li>
                            <div class="checkbox">
                                <label><input type="checkbox" name='<%='name'%>' value='<%=events[i].name%>'>Moderated</label>
                            </div>
                        <%}%>
                    </ul>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary">Send data</button>
                    </div>
                </form>
            </div>
            <pre id="display-json"></pre>
        </div>
    </div>
</div>
</body>
</html>